{% extends "index.html" %}
{% block content %}


<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div class="ui container" style="margin-top: 50px;">
    <h1 class="ui center aligned header">My Tasks</h1> 
    
    <form class="ui form" action="{{ url_for('addTask') }}" method="POST">
        <div class="field">
            <label for='task'><h3>Task</h3></label>
            <input type='text' placeholder="enter task.." name='task' required><br>
            <br>
            <button class="ui blue button" type="submit">Add Task</button>
        </div>
    </form>
    <div>
        <a class="ui teal button" href="/viewAllHashtags">view All Hashtags</a>
        {% if hmsg!="" %}<br/><p style="color: red;">{{ hmsg }}</p> {% endif %}
    </div>
    <br>
    <form method="POST" action="/search">
        <div class="ui action input">
            <input type="text" name="hashtag" placeholder="Search...">
            <button class="ui icon button" type="submit">
              <i class="search icon"></i>
            </button> 
           {% if msg!="" %}<br/><p style="color: red;">{{ msg }}</p> {% endif %}
          </div>
    </form>

    {% for task in account %}
    <div class="ui segment">
        <form method="POST" action="/updateTask/{{ task['task_id'] }}">
            <p class="ui big header">
                <div class="ui input focus"><input type='text' name="task1" value=" {{ task['task_desc'] }} "></div>
            </p>

            {% if task['t_status']=='0' %}
                <span class="ui gray label">Incomplete</span>
            {% else %}
                <span class="ui green label">complete</span>
            {% endif %}

            <a class="ui teal button" href="/updateStatus/{{ task['task_id'] }}">UpdateStatus</a>
            <button class="ui blue button" type="submit">UpdateTask</button>
            <a class="ui red button" href="/deleteTask/{{ task['task_id'] }}">Delete</a>
        </form>
    </div>
    {% endfor %}
    </div>
</body>

{% endblock %}