<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <meta charset="UTF-8">
        <title> Login </title>    
        <meta charset="utf-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        

        <div class="logincontent" align="center">
            </br></br>
            <div class="logintop">
                <b><h2 >Login</h2></b>
            </div></br>
            <div class="loginbottom">
            <form action="{{ url_for('login')}}" method="post" autocomplete="off">
                <div class="msg">{{ msg }}</div>
            
            
                    <div style = "padding: 50px 30% 5px 30%; " >
                   <div class = "input-group input-group-lg">
                      <span class = "input-group-addon">@</span>
                      <input type = "text" name="username" class = "form-control" placeholder="Enter Your Username" class="textbox" id="username" required>
                   </div>
                </div>
                <div style = "padding: 5px 30% 10px 30%; " >
                
                   <div class = "input-group input-group-lg">
                      <span class = "input-group-addon">@</span>
                      <input type="password" name="password" placeholder="Enter Your Password" class="form-control" id="password" required>
                   </div>
                </div>
            
            <!-- <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br></br> -->
            <!-- <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br></br></br> -->
                <button type = "submit" class = "btn btn-primary btn-lg" value="Login">
                    Login
                </button>
            <!-- <input type="submit" class="btn" value="Login"> -->
            </form></br></br>
              <p class="worddark" style=" font-size: medium;">New to this page? <a class="worddark" href="{{ url_for('register')}}">Register here</a></p>
            </div>
        </div>
    </body>
</html>
